html {
  height: 100%;
  background-color: #0F172A;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 70%;
  @media (pointer: coarse) {
    font-size: 110%
  }
}

body {
  margin: 0;
  height: 100%;
}

main {
  max-width: 70ch;
  margin: auto;
  line-height: 1.75;
  padding: 1.75rem;
  font-size: 1.5rem;
}

nav {
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
}

a {
  color: #75808c;
  text-decoration-line: none;
  font-size: 1.5rem;
}

.nav-link {
  margin-left: 1rem;
}

.current-link {
  color: white
}

.container {
  background: linear-gradient(-45deg, #0F172A, #243662);

  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
}